RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^pp.l$ pp.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^common/userrealm$ common/userrealm.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^common/login$ common/login.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^common/login/telemetry$ common/telemetry.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^common/update$ log/log.php [L]
